.slider {
  position: relative;
}

.slide img,
.slide iframe,
.slide video {
  width: 100%;
  height: 400px;
  display: block;
  border: 1px solid #ccc;
  object-fit: cover;
}

.slide iframe,
.slide video {
  object-fit: contain;
}

@media (max-width: 768px) {
  .slide img,
  .slide iframe,
  .slide video {
    height: 250px;
  }
}
